{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">WantToDo List</h1>
      <p class="lead">やりたいことをランダムに選んで、毎日にワクワク感をプラスしましょう。</p>
      <p style="text-align: right">
        <a href="{% url 'logout' %}" class="btn btn-secondary mb-2" role="button" aria-disabled="true">ログアウト</a>
      </p>
    </div>
</div>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    {% if user_objects|length > 0 %}
        {% for item in user_objects %}
            {% if item.username == user.username %}
                <div class="alert alert-primary" role="alert">
                    <h2>{{ item.field }}: {{ item.title }}</h2>
                    <a href="{% url 'update' item.pk %}" class="btn btn-success" role="button" aria-disabled="true">編集</a>
                    <a href="{% url 'delete' item.pk %}"class="btn btn-danger" role="button" aria-disabled="true">削除</a>
                    <a href="{% url 'detail' item.pk %}" class="btn btn-secondary" role="button" aria-disabled="true">詳細</a>
                </div>
            {% endif %}
        {% endfor %}
   
        <p>
            <a href="{% url 'create' %}" class="btn btn-primary mb-2" role="button" aria-disabled="true">リスト追加</a>
        </p>
        <div class="alert alert-danger" role="alert">
             <center>
                <a href="{% url 'random' %}">
                    <h3>ガシャへ</h3>
                </a>
            </center>
        </div>

    {% else %}
        <h3>やりたい事を登録しましょう！</h3>
        <a href="{% url 'create' %}" class="btn btn-primary mb-2" role="button" aria-disabled="true">登録へ</a>
    {% endif %}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    <center>リストを見たり編集するにはログインしてください。</center>
    <center>
        <a href="{% url 'login' %}">ログイン</a>
    </center>
</div>
{% endif %}
{% endblock content %}